name: test
on: push
jobs:
  test:
    runs-on: ubuntu-20.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2

      - name: Prepare workspace
        run: |
          sudo mkdir -p /root/ros2_ws/src/mypkg/
          sudo chmod -R 777 /root/ros2_ws

      - name: Check ROS 2 setup
        run: |
          ls /opt/ros/

      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y python3-pip
          pip3 install pytest

      - name: Test batterystatus
        shell: bash
        run: |
          source /opt/ros/humble/setup.bash
          source /root/ros2_ws/install/setup.bash
          pytest /root/ros2_ws/src/mypkg/test/test_batterystatus.py

