name: test
on: push
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Prepare workspace
        run: |
          sudo mkdir -p /root/ros2_ws/src/mypkg/
          sudo chmod -R 777 /root/ros2_ws

      - name: Check ROS 2 setup
        run: |
          ls /opt/ros/

      - name: Test talker and listener manually
        shell: bash
        run: |
          source /opt/ros/humble/setup.bash
          source /root/ros2_ws/install/setup.bash
          /root/ros2_ws/install/mypkg/lib/mypkg/talker --ros-args || echo "Talker failed"
          /root/ros2_ws/install/mypkg/lib/mypkg/listener --ros-args || echo "Listener failed"

