name: test
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Prepare workspace
        run: |
          mkdir -p /root/ros2_ws/src/mypkg/
          cp -r ./mypkg /root/ros2_ws/src/

      - name: Install dependencies and build workspace
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-colcon-common-extensions
          source /opt/ros/humble/setup.bash
          cd /root/ros2_ws
          rosdep init || true
          rosdep update
          rosdep install --from-paths src --ignore-src -r -y
          colcon build --packages-select mypkg

      - name: Run powerwatch
        run: |
          source /opt/ros/humble/setup.bash
          source /root/ros2_ws/install/setup.bash
          ros2 run mypkg powerwatch || echo "Powerwatch failed"
